html, body{
    background-color: cadetblue;
    font-size: 22px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}


.scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul.left li {
    margin-right: 20px;
}

nav ul.right {
    margin-left: auto;
}

.header-text h1 {
    font-size: 30px;
}

.scaled-image {
    max-height: 500px;
    height: auto;
}

#note {
    font-size: 30px;
}

li {
    font-size: 20px;
}

.full-page {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    /* display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: Arial, sans-serif;
    color: white; */
    scroll-snap-align: start;
}

#home-calender {
    background-color: #ff5733;
}

#section2 {
    background-color: #33b5ff;
}

#section3 {
    background-color: #33ff57;
}

#section4 {
    background-color: #ffc233;
}

.calendar {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 1.5%;
    border-radius: 15px;
}

.calendar .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2vw;
    margin-top: 1%;
    margin-bottom: 4%;
    font-weight: 300;
}

.calendar .month .year {
    font-weight: 600;
}

/* .calendar .month .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #0a3d62;
    width: 5vw;
    height: 5vw;
    border-radius: 40px;
    transition-duration: .2s;
    position: relative;
} */

.calendar .days {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    color: #999;
    font-weight: 100;
    margin-bottom: 2%;
    font-style: italic;
    font-size: 1.7vw;
}

.calendar .days span {
    width: 7vw;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.calendar .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar .dates button {
    cursor: pointer;
    outline: 0;
    border: 0;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    justify-self: center;
    align-self: center;
    width: 7vw;
    height: 7vw;
    border-radius: 25%;
    margin: 0.5vw;
    transition-duration: 0.5s;
}

.calendar .dates button:hover {
    background: #eee;
}

.calendar .dates button:focus {
    background: #0a3d62;
    color: #fff;
    font-weight: 600;
}

.other-month {
    color: #999;
}